@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
	line-height: 1.2;
}

h2, h3 {
    padding: 0; 
    margin-bottom: 0;
}

a {
	text-decoration: none;
}

/* unvisited link */
a:link {
	color: #444;	
}

/* visited link */
a:visited {
    color: #999;
}

/* mouse over link */
a:hover {
	text-decoration: underline;
	text-decoration-skip: ink;
	-webkit-text-decoration-color: #ff8c8c;
  	text-decoration-color: #ff8c8c;
    color: #ff8c8c;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}

.button {
    background-color: #4a9eda;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin: 4px 2px;
    text-align: center;
    /*text-decoration: none;*/
    display: inline-block;
    font-size: 18px;
    font-family: serif;
}

.numericalInput {
    text-align: left;
    display: block;
    margin: auto;
    width: 40%;
    padding: 10px;
}
/*.button:hover {
	background-color: #e7e7e7;
}*/

.poem {
    font-family: 'Cutive Mono', monospace;
}