@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
/*@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:300&display=swap');*/

body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*-webkit-font-smoothing: antialiased;*/
}

h1, h2, h3 { 
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
	line-height: 1.2;
}

h2, h3 {
    padding: 0; 
    margin-bottom: 0;
}

h2 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}


a {
	text-decoration: none;
}

/* unvisited link */
a:link {
	color: #444;	
}

/* visited link */
a:visited {
    color: #999;
}

/* mouse over link */
a:hover {
	text-decoration: underline;
	text-decoration-skip: ink;
	-webkit-text-decoration-color: #ff8c8c;
  	text-decoration-color: #ff8c8c;
    color: #ff8c8c;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}

code pre {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    display: block;
    padding: 20px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.button {
    background-color: #4a9eda;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin: 4px 2px;
    text-align: center;
    /*text-decoration: none;*/
    display: inline-block;
    font-size: 18px;
    font-family: serif;
}

.numericalInput {
    text-align: left;
    display: block;
    margin: auto;
    width: 40%;
    padding: 10px;
}
/*.button:hover {
	background-color: #e7e7e7;
}*/

.poem {
    font-family: 'Cutive Mono', monospace;
}

.em-peach.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f351.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f351.svg"), none;
}

.em-sweat_drops.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f4a6.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f4a6.svg"), none;
}

.em-eggplant.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f346.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f346.svg"), none;
}

a.wordlink {
    visibility: hidden;
}

h2:hover > a.wordlink {
    visibility: visible;
}

ul.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#jim li {
    margin-bottom: 12px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.lighter {
    opacity: 0.5;
}

#sprint2012 th::after {
  content: " ⇕";
  opacity: 0.4;
}

.sprintInput {
    text-align: left;
    display: block;
    /*margin: auto;*/
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    padding: 10px;
    border-radius: 4px;
    border: none;
}
