body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px
}

h1,h2,h3 {
	line-height: 1.2
}

a {
	text-decoration: none;
}

/* unvisited link */
a:link {
	color: #444;	
}

/* visited link */
a:visited {
    color: #999;
}

/* mouse over link */
a:hover {
	text-decoration: underline;
	text-decoration-skip: ink;
	-webkit-text-decoration-color: red;
  	text-decoration-color: red;
    color: red;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}
